numpy>=1.24
pandas>=1.5
scikit-learn>=1.2
econml>=0.13
lifelines>=0.27
shap>=0.42
joblib>=1.2
lightgbm>=3.3
xgboost>=1.7
matplotlib>=3.5
seaborn>=0.12
plotly==5.18.0
streamlit>=1.20
tqdm>=4.65
statsmodels>=0.14
streamlit-aggrid>=0.3
